
<div class="section  margintopothers">
  <div class="container">
    <form action="/admin/add-product"  enctype="multipart/form-data"  method="post">
        <h2>Add Product</h2><br>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input style="width: 300px;" type="text" name="Name" class="form-control" id="exampleFormControlInput1" >
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Price</label>
  <input style="width: 300px;" type="text" name="Price" class="form-control" id="exampleFormControlInput1" >
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Description</label>
  <input style="width: 300px;" type="text" name="Description" class="form-control" id="exampleFormControlInput1" >
</div>


<div class="mb-3">
  <label for="formFile" class="form-label">Upload Image</label>
  <input style="width: 300px;" class="form-control" name="Image" type="file" id="formFile">
</div>

<button class="btn btn-info" type="submit">Submit</button>
    </form>
  </div>
</div>


