
<header class="header  headerColor pt-3 fixed-top heightofheader">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 pb-2 d-flex">
          <img class="logoSize" src="https://www.freeiconspng.com/thumbs/cart-icon/basket-cart-icon-27.png">
            <h1 class="ml-2 headingStyle " style="color: white; ">Shopping-Cart</h1>

        </div>
        <div class="col-xs-2 col-sm-2 col-md-6 col-lg-6 col-xl-6">
              <nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/getOrders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/cart">Cart</a>
        </li>
         <li class="nav-item dropdown">
          {{#if user}}
          
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            {{user.Name}}
          </a>
           <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            
          </ul>
          
          {{else}}
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/login">Login</a></li>
            
          </ul>
          {{/if}}
        </li>
       
      </ul>
      {{!--{{<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary ml-3" type="submit">Search</button>
      </form>}}--}}
    </div>
  </div>
</nav>
        </div>

    </div>
    </header>
