<div class="section margintopothers">
    <div class="container">

    <h1 class="text-success">Order Placed Successfully</h1><br>
    <a href="/getOrders" class="btn btn-info">View Order</a>

    </div>

</div>