<div class="section  margintopothers">
<div class="container">
     <form method="post" action="/signup">
        <h3>SignUp</h3>
  <div class="mt-4">
    <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Name</label>
    <input name="Name" style="width: 350px;" type="text" id="form2Example1" class="form-control" />
    
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email address</label>
    <input name="Email" style="width: 350px;" type="email" id="form2Example1" class="form-control" />
    
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input name="Password" style="width: 350px;" type="password" id="form2Example2" class="form-control" />
    
  </div>

  <!-- 2 column grid layout for inline styling -->
  

  <!-- Submit button -->
  <button type="submit" class="btn btn-secondary  mb-4">SignUp</button>

  <!-- Register buttons -->
  
  
</form><br>
<p>or</p><br>

<a  class="btn btn-info" href="/admin">Admin login</a>
</div>
</div>